{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="class1">
      <!-- <div class="class3">
        <img class="img1" src="../public/Heart_Beat-removebg-preview 1.png" />
      </div> -->
      <nav class="navbar">
        <ul>
          <li class="beat1">
            <img
              class="img1"
              src="{% static 'assets/img/Heart_Beat-removebg-preview 1.png' %}"
            />
          </li>
          <li class="class11">
            <div class="list"><a href="">Home</a></div>
            <div class="list"><a href="">How It Works</a></div>
            <div class="list"><a href="">About Us</a></div>
            <div class="list"><a href="">Contact Us</a></div>
          </li>
          <li>
            <div class="logout"><a href="">Logout</a></div>
          </li>
          <li class="login"><a href=""><button class="in1">SIGN UP</button></a></li>
        </ul>
      </nav>
    </div>
    <div class="class2">
      <div class="class8">
        <h2>
          Your heart's health is our priority –<br />
          discover peace of mind with our <br />
          advanced arrhythmia predictor.
        </h2>
        <button class="predict">PREDICT ARRYTHMYIA</button>
      </div>
      <img class="img2" src="{% static 'assets/img/heart_hand_image.png' %}"/>
    </div>
    <!-- <button class="predict">PREDICT ARRYTHMYIA</button> -->
    <div class="arrow">
      <a href="#meet1"><img src="{% static 'assets/img/Vector (2).png' %}"/></a>
    </div>
    <div id="meet1" class="meet">The Predicton Process</div>
    <div class="des">
      Using smart technology to understand your heart's rhythm and provide
      personalized insights for better health.
    </div>
    <div class="class3">
      <div class="class4">
        <div class="beat">
          <img src="{% static 'assets/img/Group 44.png' %}"/>
        </div>
        <div class="step">/ ACCESS YOUR ECG /</div>
        <div class="info">
          You can easily access the ECG <br />
          without the need for<br />
          upload. Your heart's unique<br />
          rhythm holds the key to our<br />
          predictions.
        </div>
      </div>
      <div class="class4">
        <div class="beat">
          <img src="{% static 'assets/img/Group 22.png' %}"/>
        </div>
        <div class="step">/ HIDDEN INSIGHTS /</div>
        <div class="info">
          We meticulously clean up any<br />
          noise and extract essential<br />
          features to gain a better<br />
          understanding of your heart's<br />
          activity.
        </div>
      </div>
      <div class="class4">
        <div class="beat">
          <img src="{% static 'assets/img/Group 43.png' %}" />
        </div>
        <div class="step">/ SMART LEARNING /</div>
        <div class="info">
          Our predictor continuously<br />
          learns from a vast array of ECG<br />
          data, understanding of both<br />
          normal and irregular heart<br />
          rhythms.
        </div>
      </div>
      <div class="class4">
        <div class="beat">
          <img src="{% static 'assets/img/Group 21.png' %}" />
        </div>
        <div class="step">/ PREDICTION /</div>
        <div class="info">
          Our predictor crafts a tailored<br />
          prediction just for you. We'll<br />
          alert you to any irregularities<br />
          and provide valuable insights<br />
          into what they could mean for<br />
          your heart health.
        </div>
      </div>
    </div>
    <div class="class5">
      <div class="arrow">
        <a href="#meet2"></a><img src="{% static 'assets/img/Vector (2).png' %}" />
      </div>
      <div id="meet2" class="meet">MEET OUR TEAM</div>
      <div class="des">
        Meet the passionate minds shaping your heart health journey
      </div>
      <div class="team">
        <div class="class9">
          <div>
            <img src="{% static 'assets/img/Group 31.png' %}" />
          </div>
          <div class="desp"><p>AAJEEVAN</p>
            <p>Backend Developer</p></div>
        </div>
        <div class="class9">
          <div>
            <img src="{% static 'assets/img/Group 31.png' %}" />
          </div>
          <div class="desp"><p>ABHIRAM</p>
            <p>Backend Developer</p></div>
        </div>
        <div class="class9">
          <div>
            <img src="{% static 'assets/img/Group 31.png' %}" />
          </div>
          <div class="desp"><p>AIDEN</p>
            <p>Backend Developer</p></div>
        </div>
        <div class="class9">
          <div>
            <img src="{% static 'assets/img/Group 31.png' %}" />
          </div>
          <div class="desp"><p>ALAN</p>
            <p>Frontend Developer</p></div>
        </div>
    </div>
    <div class="class10">
      <div class="arrow">
        <a href="#meet3"></a><img src="{% static 'assets/img/Vector (2).png' %}" />
      </div>
      <div id="meet3" class="meet">GET IN TOUCH</div>
      <div class="class7">
        <div class="class6">
          <div>
            <img src="{% static 'assets/img/Vector (1).png' %}" />
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            Rajagiri Valley Rd, Rajagiri Valley,<br />
            Kakkanad, Kerala 682039
          </div>
        </div>
        <div class="class6">
          <div>
            <img src="{% static 'assets/img/Vector.png' %}" />
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            0484 266 0999<br />
            +91 12124 44101
          </div>
        </div>
        <div class="class6">
          <div>
            <img src="{% static 'assets/img/mail-fill.png' %}" />
          </div>
          <div>
            Rajagiri School of Engineering and Technology<br />
            u2108001@rajagiri.edu.iin
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
