{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
  </head>
  <body>
    <div class="image-container">
      <!-- Your image here -->
      <img src="{% static 'assets/img/Mask group.png' %}" alt="Login Image" />
      <div class="logo-container">
        <!-- Your logo here -->
        <a href="{% url 'Home' %}"><img src="{% static 'assets/img/Group 46.png' %}" alt="Logo" /></a>
      </div>
      <div class="main-image-container">
        <img src="{% static 'assets/img/heartbg.png' %}" alt="main image" />
      </div>
      <div class="login-container">
        <h2>Login</h2>
        <div class="form-container">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" id="username" name="username" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
